<div class="tree">
    <div *ngFor="let item of global.data.tree let last = last">
        <span class="clickable font-size-20 bold" (click)="global.getData(item.id)">{{ global.removeHtmlCode(item.heading) }}</span>
        <span *ngIf="!last" class="font-size-20 no-user-select"> ></span>
    </div>
</div>
<app-navigation *ngIf="global.data.navigation" class="flex justify-space-between"></app-navigation>
<div class="list" *ngIf="global.data.children">
    <div class="flex full-width justify-space-between" *ngFor="let item of global.data.children">
        <span class="heading clickable" (click)="global.getData(item.id)">{{ global.removeHtmlCode(item.heading) }}</span>
        <span *ngIf="item.lheading" class="heading clickable" (click)="global.getData(item.lid)">{{ global.removeHtmlCode(item.lheading) }}</span>
    </div>
</div>
<div class="page" *ngIf="global.data.page">
    <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(replaceString(global.data.page.text))"></div>
    <div class="top-border" *ngIf="extractNonHtmlCode(replaceString(global.data.page.haoros)).length > 0" [innerHTML]="sanitizer.bypassSecurityTrustHtml(global.data.page.haoros)"></div>
</div>
<app-search *ngIf="global.data.sections"></app-search>