<div class="wide-flex-container justify-space-between">
    <h4 class="dark-gray-color">בס"ד</h4>
    <div class="flex large-gap">
        <a href="https://chabadlibrary.org/catalog">קטלוג</a>
        <a href="https://chabadlibrary.org">מסך ראשי</a>
    </div>
</div>
<div class="light-gray-background">
    <div class="wide-flex-container column gap-10">
        <h2>ספריית חב"ד ליובאוויטש</h2>
        <div class="tree margin-inline-40">
            <div>
                <span class="clickable" (click)="global.getMain(0)">דף הבית</span>
                <span class="no-user-select"> /</span>
            </div>
            <div *ngFor="let item of global.main.tree">
                <span class="clickable" (click)="global.getMain(item.id)">{{
                    item.heading }}</span>
                <span class="no-user-select"> /</span>
            </div>
        </div>
    </div>
</div>