body {
    transition-duration: 800ms;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h2,
h4 {
    margin: 0;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #0275d8;
}


a:hover,
a.active {
    color: red;
}

.light-gray-background {
    background-color: #f7f7f7;
}

.light-gray-background-2 {
    background-color: lightgray;
}

.dark-gray-color {
    color: #555;
}

.hover-color-red:hover {
    color: red;
}

.column {
    flex-direction: column;
}

.gap-5 {
    display: flex;
    gap: 5px;
}

.gap-10 {
    display: flex;
    gap: 10px;
}

.gap-15 {
    display: flex;
    gap: 15px;
}

.large-gap {
    gap: 20px;
}

.margin-inline-40 {
    margin-inline: 40px 0;
}

.margin-start-10 {
    margin-inline-start: 10px;
}

.margin-start-30 {
    margin-inline-start: 30px;
}

.max-width-1140 {
    max-width: 1140px;
}

.max-width-100 {
    max-width: 100%;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.pointer-cursor {
    cursor: pointer;
}

.padding-20 {
    padding: 20px;
}

.padding-15 {
    padding: 15px;
}

.full-width {
    width: 100%;
}

.center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.wide-flex-container {
    max-width: 1140px;
    display: flex;
    padding: 20px;
    margin: 0 auto;
}

.width-max-content {
    width: max-content;
}

.color-red {
    color: red;
}

.align-items-start {
    align-items: start;
}

.no-user-select {
    user-select: none;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-20 {
    font-size: 20px;
}

.bold {
    font-weight: 600;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.tree {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

i {
    color: #555;
}


.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.overflow-clip {
    overflow: clip;
    overflow-clip-margin: 4px;
}

.width-300 {
    width: 300px;
}

.max-width-50 {
    max-width: 50%;
}

.split-container-line {
    background-color: #cdcdcd;
}

.split-container-line {
    width: 1px;
}

.top-border {
    border-top: 1px solid #cdcdcd;
    padding-top: 10px;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
}

.split-container {
    display: flex;
    gap: 15px;
    padding: 15px;
    margin: 0 auto;
    max-width: 1140px;
}

@media (max-width: 900px) {
    .split-container {
        flex-direction: column-reverse;
    }

    .split-container-line {
        height: 1px;
        width: 100%;
    }

    .search-form-container {
        flex-direction: column;
    }

    .search-container {
        width: 100%;
    }

    .search-inputs,
    .search-submit {
        width: 100% !important;
    }
}

.transition-opacity {
    opacity: .1;
    transition-duration: 1.5s;
}

.search-inputs {
    border: 1px solid #72c02c;
    outline: none;
    border-radius: 5px;
    width: 230px;
    font-size: 16px;
    color: #555;
    padding: 11px 20px;
    box-sizing: border-box;
}

.search-submit {
    background-color: #72c02c;
    border: none;
    color: white;
    border-radius: 5px;
    width: 115px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}

.search-form-container {
    display: flex;
    gap: 6px;
}

.search-container {
    max-width: 100%;
}

/* HTML: <div class="loader"></div> */
.loader {
    height: 10px;
    aspect-ratio: 2.5;
    --_g: no-repeat radial-gradient(farthest-side, rgb(101, 101, 101) 90%, #0000);
    background: var(--_g), var(--_g), var(--_g);
    background-size: 20% 50%;
    animation: l43 1s infinite linear;
}

@keyframes l43 {
    100% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }

    83.33% {
        background-position: calc(0*100%/3) 0, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }

    66.67% {
        background-position: calc(0*100%/3) 100%, calc(1*100%/3) 0, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }

    50% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 100%, calc(2*100%/3) 0, calc(3*100%/3) 50%
    }

    33.33% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 100%, calc(3*100%/3) 0
    }

    16.67% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 100%
    }

    0% {
        background-position: calc(0*100%/3) 50%, calc(1*100%/3) 50%, calc(2*100%/3) 50%, calc(3*100%/3) 50%
    }
}

.results-nav-number {
    width: 40px;
    padding: 4px 0 6px 0;
    font-size: 18px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #428bca;
    background-color: white;
}

.results-nav-number.current {
    cursor: default;
    background-color: #428bca;
    color: white;
}

.selected-comment:not(a) {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 4px;
}

h5, h3 {
    margin: 0;
}

.selected-comment:not(a)>*:first-child {
    margin-top: 0;
}

.selected-comment:not(a)>*:last-child {
    margin-bottom: 0;
}

.selected>a {
    color: red;
}