<form (ngSubmit)="onSubmit()" class="search-form-container">
    <input type="text" placeholder="חפש" class="search-inputs" name="phrase" [(ngModel)]="model.phrase">
    <select class="search-inputs" name="section" [(ngModel)]="model.section">
        <option [value]="0" selected>המאגר כולו</option>
        <option [value]="item.id" *ngFor="let item of global.main.sections"
            [class.light-gray-background-2]="item.parent_id === 0">
            {{item.heading}}</option>
    </select>
    <button type="submit" class="search-submit">חפש!</button>
</form>
<app-statistics *ngIf="global.statistics || global.isLoadingStatistics" class="flex large-gap column"></app-statistics>